@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

@mixin inline-icon-button($size: 34px) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $size;
    height: $size;
}