.cases-table-container {
    flex: 1;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 8px 16px;
    font-size: 11px;
    font-weight: 600;
    color: #6F767E;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #E5E7EB;
    white-space: nowrap;
}

.sortable {
    cursor: pointer;
    user-select: none;

    &:hover {
        color: #1A1D1F;
    }
}

.sortable-header-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;

    .sort-icon {
        color: #9CA3AF;
    }

    .sort-icon-active {
        color: #012dff;
    }
}



td {
    padding: 8px 16px;
    font-size: 12px;
    color: #1A1D1F;
    border-bottom: 1px solid #E5E7EB;
    white-space: nowrap;
}

tr:last-child td {
    border-bottom: none;
}

tr:hover td {
    background: #F8F9FC;
}