.chart-card {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08);
    border: 1px solid #E5E7EB;
    padding: 24px;


    .chart-card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;


        .chart-card-filters {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 8px;

            .filter {
                display: inline-flex;
                align-items: center;
                padding: 4px 8px;
                border-radius: 9999px;
                font-size: 11px;
                font-weight: 500;
                cursor: pointer;
                transition: all 150ms ease;
                gap: 4px;
                border: 1px solid transparent;


            }

            .documents-filter {
                background: rgba(54, 79, 199, 0.1);
                color: #364FC7;
            }

            .risk-filter {
                background: rgba(230, 74, 74, 0.1);
                color: #E64A4A;

                .active {
                    background: #E64A4A;
                    color: white;
                }
            }
        }


    }

    .chart-card-container {
        flex: 1;
        overflow-x: auto;
    }
}