@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.app-header {
    @include flex-between;
    padding: $spacing-lg $spacing-md 12px $spacing-md;
    border-bottom: 1px solid #e5e7eb;

    .left {
        @include flex-start
    }

    .right {
        @include flex-start;

        .header-icon {
            padding: $spacing-sm $spacing-md;
        }
    }
}

.header-title {
    font-size: $font-size-xl;
    font-weight: $font-weight-semibold;
    color: $color-text-primary;
}

.search-input {
    position: relative;

    input {
        width: 240px;
        padding: $spacing-sm $spacing-md $spacing-sm 36px;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        font-size: $font-size-sm;
        background: #F8F9FC;
        transition: border-color 150ms ease, box-shadow 150ms ease;

    }

    .search-icon {
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
    }
}