.summary-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.summary-card {
    background: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08);
    border: 1px solid #E5E7EB;
    padding: 16px 24px;

    .summary-card-label {
        font-size: 11px;
        color: #6F767E;
        margin-bottom: 4px;

    }

    .summary-card-details {
        display: flex;
        align-items: baseline;
        gap: 8px;
    }

    .summary-card-value {
        font-size: 36px;
        font-weight: 500;
        line-height: 1;
        color: #0f172a;
    }

    .summary-card-change {

        display: inline-flex;
        align-items: center;
        gap: 4px;
        font-size: 12px;
        font-weight: 600;


        &.change-type-positive {
            color: #22C55E;
        }

        &.change-type-negative {
            color: #EF4444;
        }

        &.change-type-neutral {
            color: #EAB308;
        }
    }

    // .summary-card-change-icon {
    //     display: inline-flex;
    //     align-items: center;
    //     justify-content: center;
    //     font-size: 18px;
    //     transform: translateY(2px);
    // }
}